.grape {
  background: rgb(130, 18, 178);
  margin: 0 10px;
}

.strawberry {
  background: rgb(233, 76, 45);
  margin: 0 10px;
}

.thickness {
  padding: 10px;
}

.extra-thickness {
  padding: 20px;
}
